*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    padding: 30px;
    background-color: palevioletred;
    color: white;
    font-size: 35px;
    text-align: center;
}
section {
    display: -webkit-flex;
    display: flex;
}
nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: lightpink;
    padding: 20px;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
ul a{
    text-decoration: none;
    color: white;
    border:42px;
    display:inline-block;
    cursor:pointer;
    font-size:14px;
    padding:10px 20px;
}
ul a:hover{
    background-color:palevioletred;
}
ul a:active{
    position:relative;
    top:1px;
}
article{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: center;
    padding: 10px;
    background-color: pink;
    color: mediumvioletred;
}

footer{
    background-color: palevioletred;
    padding: 10px;
    text-align: center;
    color:white
}
.foot{
    font-size: large;
}
@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}